/*Map styles*/
html,
body,
.map-canvas {
	height: 98%;
	margin: 0;
	padding: 0;
}

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 25%;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	/*width: 400px;*/
	width: 23.9%;
}

.pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}
/*End Map styles*/

.title {
	text-align: center;
	background-color: #3d831e;
	color: #ffe436;
	padding: 10px;
	margin: 0;
}
/*Results box under search bar*/
.info-container {
	width: 25%;
	height: 635px;
	z-index: 10;
	position: absolute;
	top: 110px;
	-webkit-transition: transform 3s; /* For Safari 3.1 to 6.0 */
	transition: transform 2s;
}

.results-hide {
	transform: translateX(-410px);
}

.hide-show-btn {
	position: absolute;
	top: 100px;
	left: 97.5%;
	width: 13px;
	border: 2px solid #3d831e;
	background-color: #ffe436;
	text-align: center;
	border-radius: 5px;
	padding: 2px 4px 2px 6px;
	z-index: -1;
	cursor: pointer;
}

.results {
	width: 95.5%;
	height: 300px;
	z-index: 10;
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	margin-bottom: 5px;
	padding: 0 11px 0 13px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	overflow: auto;
}
/*Results formatting*/
.results-ul {
	padding-left: 5px;
}

.results-li {
	list-style-type: none;
}

.results-li p {
	margin: 5px 0;
}

.results-clear {
	color: #0000EE;
	cursor: pointer;
	float:right;
}

.results-title {
	margin: 5px 0;
}

li.results-li:hover {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 5px;
	background-color: #ccc;
}

.breath-mtr-container {
	margin-left: 12px;
	margin-bottom: 5px;
	width: 95.5%;
	height: 70px;
	z-index: 10;
	background-color: #fff;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-image: url("../images/breezometer_logo.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.breath-img {
	float: left;
}

.breath-results {
	font-family: Roboto;
	margin-left: 25px;
	display: inline-block;
	width: 100%;
}

p.airdata {
	margin: 3px 0 0 10px;
	text-align: center;
}

.street-view {
	margin-left: 12px;
	width: 95.5%;
	height: 250px;
	z-index: 10;
}

.infobox-outer {
	background-image: url(../images/tipbox.gif);
	display: inline-block;
	width: 275px;
	position: absolute;
}

.infobox-inner {
	font-size:15px;
	border: 3px solid #3d831e;
	border-radius: 5px;
	margin-top: 8px;
	background: #ffe436;
	padding: 5px;
}

@media screen and (max-width : 770px) {
	.info-container,
	.controls {
		width: 35%;
	}
	.pac-input {
		width: 33.5%;
	}
	.breath-results {
		display: inline-block;
	}
	p.airdata.airdata-1 {
		margin: 7px 0 0 40px;
	}
	p.airdata.airdata-2 {
		margin: 10px 0 0 30px;
		text-align: center;
	}
	.results-hide {
		transform: translateX(-266px);
	}
}

@media screen and (max-width : 480px) {
	.pac-input {
		width: 50%;
	}
	.info-container {
		top: 110px;
		width: 52.4%;
	}
	.hide-show-btn {
		left: 98.5%;
		top: 80px;
	}
	.results {
		height: 220px;
	}
	.results-hide {
		transform: translateX(-250px);
	}
	.breath-mtr-container {
		height: 56px;
	}
	p.airdata.airdata-1 {
		font-size: 15px;
		margin: 12px 0 0 28px;
		line-height: 1;
	}
	p.airdata.airdata-2 {
		display: none;
	}
}

@media screen and (max-width : 320px) {
	.title {
		font-size:25px;
	}
	.pac-input {
		width: 70%;
	}
	.info-container {
		top: 100px;
		width: 72.9%;
	}
	.hide-show-btn {
		left: 98.5%;
		top: 35px;
	}
	.results {
		font-size: 12px;
		height: 151px;
	}
	.results-hide {
		transform: translateX(-235px);
	}
	p.airdata.airdata-1 {
		font-size: 14px;
		margin: 11px 0 0 13px;
	}
	.infobox-inner {
		font-size: 13px;
	}
}

@media screen and (max-width : 240px) {
	.title {
		font-size:20px;
	}
	.breath-mtr-container {
		height: 48px;
	}
	p.airdata.airdata-1 {
		font-size: 13px;
		margin: 3px 0 0 40px;
	}
}